<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表</title>
</head>
<body>
    <div id="app">
        <ul>
            <!-- <li v-for="good in goodsList"> {{good.name }} === {{good.price }}</li> -->
            <!-- <li v-for="good in goodsList">
                <span> {{ good.name}} </span>
                <span style="color: red;"> {{ good.price}} </span>
            </li> -->
            <!-- <li v-for="(good,index) in goodsList">{{index+1}} - {{ good.name}} </li> -->
            <li v-for="good in goodsList">
                <span v-for="(value,key,index) in good">{{ key}} -- {{value}}</span>
            </li>
        </ul>
    </div>
</body>
<script src="./static/js/vue.js"></script>
<script type="text/javascript">
    /*
    列表元素,输出一组属性,用v-for
    */
    var data = {
        goodsList: [
            {name: 'iphone', price: '8888'},
            {name: 'mp3', price: '888'},
            {name: 'video', price: '88'}
        ]
    }
    var vm = new Vue({
        el: '#app',
        data: data
    })
</script>
</html>