<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h4>判断是否处于登录状态</h4>
        <div v-if="isLogin">
            欢迎登录
            <p v-if="type=='A'">A级用户</p>
            <p v-else-if="type=='B'">B级用户</p>
            <p v-else-if="type=='C'">C级用户</p>
            <p v-else>D级用户</p>
        </div>
        <div v-else>
            <a href="#">请登录</a>
        </div>
    </div>
</body>
<script src="./static/js/vue.js"></script>
<script type="text/javascript">
		var vm = new Vue({
			el:'#app',
			data:{
				isLogin:-1,
				type:'A'
			}
		})
</script>
</html>